body{
    display: flex;
    text-align: center;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
    min-width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    padding-top: 0%;
    padding: 2%;

}
header{
    font-size: larger;
}
header h1{
    background-color: rgb(231, 231, 231);
    color: green;
    font-size: xx-large;
    padding: 1%;
}

label{
    font-size: large;
    margin: 2%;
    
}
input{
    width: 200px;
    height: 30px;
    font-size: larger;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    font-size: large;
    padding: 1%;
}
#inputBob{
    margin: 2%;
}
p{
    font-size: larger;
    margin: 5%;
}
#currentAge{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    min-width: 30%;
    transition: 0.3s;
    border-radius: 5px;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    padding-top: 7%;
    font-size: larger;
    color: green;
}